$fontw: 700;

.bitcoinCurrencyContainer {
    display: flex;
    justify-content: space-between;
    width: 880px;
}

.bitcoinContainer{
    background-color: rgb(229, 233, 0);
    width: 250px;
    height: 400px;
    margin-top: 30px;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}

.bitcoinContainer:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.currency{
    font-weight: $fontw;
}

.rate{
    font-weight: $fontw;
}

.rateFloat{
    font-weight: $fontw;
}

.description{
    font-weight: $fontw;
}

.images{
    border-radius: 100px;
}