.container {
    background-color: rgb(255, 196, 0);
    width: 100vw;
    height: 100vh;
  }
  
  .container main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
  }
  