.timerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 980px;
    background-color: rgba(255, 255, 255, 0.457);
    height: 150px;
    border-radius: 15px;
    margin-top: 50px;
}

.leftButton {
    cursor: pointer;
    transform: rotate(90deg);
}

.timer {
    font-size: 120px;
    font-weight: 600;
    color: white;
    line-height: 0;
}

.code {
    font-size: 40px;
    font-weight: 600;
    color: white;
    line-height: 0;
    text-align: center;
    margin-top: auto;
    margin-left: 20px;
}

.rightButton {
    cursor: pointer;
    transform: rotate(-90deg);
}

.timerWrapper {
    display: flex;
    align-items: center;
    height: 150px;
}
